<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.benoitletondor.materiallist"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"/>

        <activity
            android:name=".DetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale" />
    </application>

</manifest>
